<footer>
  <div class="footer-logos">
    <img src="/images/footer/GIST_Dept_LifeSciences.png" alt="GIST Department of Life Sciences">
    <img src="/images/footer/생의융.png" alt="생의융">
    <img src="/images/footer/융합신경생리학과.jpg" alt="융합신경생리학과" style="height: 32px;">
    <img src="/images/footer/gaia_logo.png" alt="GAIA" style="filter: brightness(0);">
  </div>

  <div class="footer-info">
    <div class="footer-lab-name">
      NBI-Lab (KJung Lab for Neurobiological Intelligence)
    </div>
    <div class="footer-address">
      Department of Life Sciences 218-219, Gwangju Institute of Science and Technology (GIST)<br>
      123 Cheomdangwagi-ro, Buk-gu, Gwangju 61005, Republic of Korea
    </div>
  </div>

  <div class="footer-copyright">
    &copy; 2025 by NBI-Lab. All rights reserved.
  </div>
</footer>
